* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&display=swap');
/*---------------------------------------------------------------*/
/*-----------GRIDS-----------*/
#grids {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 100fr 1fr;
  grid-template-areas:
  "cabeza"
  "baner"
  "publicaciones"
  "pie";
}
/*-----------NOMBRES-GRIDS-----------*/
.encabezado {
  grid-area: cabeza;
}
.banner {
  grid-area: baner;
}
.contenido {
  grid-area: publicaciones
}
.pie-pagina {
  grid-area: pie;
}





/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*-----------BODY-----------*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(44, 44, 44);
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../images/images/abstract-blue-line-speed-dynamic-on-black-background-illustration-vector_waifu2x_art_noise3_scale_tta_1.png);
  width: 100%;
  height: 100vh;
}

/*---------------------------------------------------------------*/
/*-----------HEADER-----------*/
.header-flex2 {
  background: rgb(3,18,10);
  background: linear-gradient(90deg, rgba(3,18,10,1) 0%, rgba(81,194,228,0.8477766106442577) 50%, rgba(190,190,190,0.9542191876750701) 100%);  
  }
  .header-superior {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
    .logo-nombre {   /*--NUBE.PNG--*/
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
        .cloud-gaming {   /*--CLOUD GAMING--*/
          text-decoration: none;
          list-style: none;
          color: #25C8FF;
          font-size: xx-large;
          font-weight: bold;
          margin: 10px 0px 10px 0px;
        }
        .barra-busqueda { /*--BARRA BUSQUEDA--*/
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          width: 100%;
        }
          .barra-busqueda input {
            padding: 15px;
            border-radius: 10px;
            min-width: 5%;
            width: 60%;
            height: 50px;
            border: solid 3px;
            border-color: #25C8FF;
          }
          .header-icons {   /*--ICONS.PNG--*/
            display: flex;
            flex-direction: row;
            align-items: center;
          }
          .tamaño-iconos {
            width: 30px;
            height: 30px;
          }

/*---------------------------------------------------------------*/
/*-----------MAIN-------------*/
.menu-lat {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px;
  height: 98%;
  width: 250px;
  background-color: rgb(22, 22, 22);
  color: white;
  border: solid 2px;
  border-radius: 5px;
  border-color: #25C8FF;
  margin: 30px 0px 0px 0px;
}
.banner {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  margin-top: 10px;
}
.banner img {   /*--BANNER.PNG--*/
  display: block;
  width: 100%;
  max-width: 1100px;
}
.separador {
  display: flex;
  justify-content: center;
  width: 100%;
}
.separador img {
  display: block;
  width: 100%;
  max-width: 1100px;
}
.section-flex { /*--PUBLICACIONES--*/
    display: flex;
    justify-content: center;
}
.publicaciones {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  margin-right: 2%;
  max-width: 1110px;
}
    .articulos { /*--CAJAS DE PUBLICACIONES--*/
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 10px;
        text-align: center;
        border-radius: 10px;
        width: 250px;
        background-color: rgb(22, 22, 22);
    }
      .descripcion {
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        color: white;
        padding: 10px;
        border-bottom: solid 5px;
        border-color: #25C8FF;
      }
      .articulos a:hover {
        color: #25C8FF;
      }
      .articulos a img {
        width: 250px;
      }
      .precio {
        margin: 10px 5px 0px 5px;
        text-align: center;
        font-weight: bold;
        font-size: xx-large;
        color: white;
      }
        
     .cuotas {
        text-align: center;
        font-weight: bold;
        color: white;
        padding: 10px;
     }
      .ver-mas {
        margin: 5px 0px 0px 0px;
        font-size: x-large;
        font-weight: bold;
        text-decoration: none;
        padding: 5px 0px 0px 0px;
        background-color: #25C8FF;
        color: white;
        width: 80%;
        margin: 0% 5% 5% 10%;
        border-radius: 10px;
      }

        .ver-mas:hover {
          background-color: white;
          color: #25C8FF;
        }


/*---------------------------------------------------------------*/
/*-----------FOOTER-----------*/
footer {
  border-top: solid 5px;
  border-color: #25C8FF;
  background: rgb(3,18,10);
  background: linear-gradient(90deg, rgba(3,18,10,1) 0%, rgba(81,194,228,0.8477766106442577) 50%, rgba(190,190,190,0.9542191876750701) 100%);
}

  .padre1 {
    display: flex;
    justify-content: center;
  }
    .separacion {
      margin: 15px 3vh;
    }
      .separacion a:hover {
      color: #25C8FF;
      }
    .sin-estilo li {
      margin: 10px;
      text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
    }
      .seguinos {
        text-align: center;
        margin: 10px;
        text-decoration: none;
      }
  .mobile {
  display: flex;
  }
/*---------------------------------------------------------------*/
/*-----------FAQ-----------*/
.publicaciones-faq {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
  .articulos-faq {
      flex-direction: row;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 10px;
      text-align: center;
      border-radius: 10px;
      width: 400px;
      background-color: rgb(22, 22, 22);
      border: solid 2px;
      border-color: #25C8FF;
  }
      .articulos-faq div img {
        width: 96px;
      }
      .titulo-faq {
          text-align: center;
          text-decoration: none;
          font-size: larger;
          font-weight: bold;
          color: white;
          padding: 10px 0px 10px 0px;
      }
          
      .descripcion-faq {
          text-align: center;
          color: white;
          padding: 10px;
      }
/*---------------------------------------------------------------*/
/*-----------CONTACTANOS-----------*/
.publicaciones-contacto {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
  .articulos-contacto {
      flex-direction: row;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 10px;
      text-align: center;
      border-radius: 10px;
      width: 70%;
      background-color: rgb(22, 22, 22);
      border: solid 2px;
      border-color: #25C8FF;
    }
      .titulo-contacto {
        text-align: center;
        text-decoration: none;
        font-size: larger;
        font-weight: bold;
        color: white;
        padding: 10px 0px 10px 0px;
      }
      .descripcion-contacto {
        text-align: center;
        color: white;
        padding: 10px;
      }
      .formulario {
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: solid 2px;
        width: 60%;
        border-color: #25C8FF;
        color: rgb(128, 128, 128);
        background-color: rgb(22, 22, 22);
        font-family: 'Roboto' sans-serif;
      }
      .formulario:hover {
        border-color: white;
      }
      .textarea {
        padding: 10px;
        margin: 5px;
        min-width: 5rem;
        min-height: 5rem;
        max-width: 35rem;
        max-height: 35rem;
        width: 60%;
        border-radius: 10px;
        border: solid 2px;
        border-color: #25C8FF;
        color: rgb(128, 128, 128);
        background-color: rgb(22, 22, 22);
        font-family: 'Roboto' sans-serif;
      }
      .checkbox {
        display: flex;
        justify-content: center;
        color: rgb(128, 128, 128);
        margin: 10px 0px 15px 0px;
      }
      .terminos {
        margin: 0px 0px 0px 15px;
      }
      .enviar {
        padding: 10px;
        margin: 5px;
        border: solid 2px;
        border-radius: 10px;
        font-size: larger;
        font-weight: bold;
        width: 60%;
        border-color: #25C8FF;
        color: white;
        background-color: #25C8FF;
        font-family: 'Roboto' sans-serif;
      }
      .enviar:hover {
        background-color: white;
        color: #25C8FF;
        cursor: pointer;
      }

/*---------------------------------------------------------------*/
/*-----------FUENTES----------*/
.x-large {
    font-size: x-large;
    color:#25C8FF;
    font-weight: normal;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}
.bold {
    font-weight: bold;
}
.sin-estilo {
    text-decoration: none;
    list-style: none;
    color: white;
}






/*------------------------RESPONSIVE DESING----------------------*/
/*------------------------RESPONSIVE DESING----------------------*/
/*------------------------RESPONSIVE DESING----------------------*/
/*------------------------RESPONSIVE DESING----------------------*/
/*-----------DESKTOP----------*/
@media (min-width: 1024px) {
/*-----------HEADER-----------*/
.header-flex {
  border-bottom: solid 5px;
  border-color: #25C8FF;
}
.menu-nav ul { /*--BARRA DE NAVEGACION--*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 36px;
  list-style: none;
  background-color: #25C8FF;
}
  .menu-button a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 8px 15px;
    height: 100%;
    transition: 0.3s;
  }
  .menu-button a:hover{
    background-color: #ffffff;
    color: #25C8FF;
    border-radius: 5px;
    border-color: #25C8FF;
    padding: 16px 15px;
    -webkit-animation: 0.3s linear both;
    animation: slide-top 0.3s linear both;
    transform: scale(1.5);
  }
    @keyframes slide-top {
      0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }
      50% {
        -webkit-transform: translateY(-12px);
                transform: translateY(-12px);
      }
      100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }
    }
/*-----------MAIN-----------*/
.titulo-flex { /*--TITULO MAIN--*/
  display: flex;
  justify-content: flex-start;
  margin: 0% 0% 0% 10%;
  align-items: center;
  font-size: x-large;
  color: white;
  padding: 30px 0px 0px 0px;
}
  .titulo {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: white;
    margin: 0px 15px;
  }
}

/*---------------------------------------------------------------*/
/*-----------TABLET----------*/
@media (min-width: 625px) and (max-width: 1023px) {
/*-----------HEADER-----------*/
  .header-flex {
    border-bottom: solid 5px;
    border-color: #25C8FF;
  }
  .menu-nav ul { /*--BARRA DE NAVEGACION--*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 24px;
    list-style: none;
    background-color: #25C8FF;
  }
    .menu-button a {
      display: flex;
      justify-content: center;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      color: white;
      padding: 0px 15px;
    }
    .menu-button a:hover{
      background-color: #25C8FF;
      border-bottom: solid 5px;
      border-top: solid 10px;
      border-radius: 5px;
      border-color: #25C8FF;
    }

/*-----------BODY-----------*/
.titulo-flex { /*--TITULO MAIN--*/
  display: flex;
  justify-content: flex-start;
  margin: 0% 0% 0% 10%;
  align-items: center;
  font-size: x-large;
  color: white;
  padding: 30px 0px 0px 0px;
}
  .titulo {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: white;
    margin: 0px 15px;
  }
.menu-lat {
  display: none;
}
.publicaciones {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.articulos { /*--CAJAS DE PUBLICACIONES--*/
  margin: 5px;
  border-radius: 10px;
  width: 100px;
}
.articulos a img {
  width: 100px;
}
.descripcion {
  border-bottom: solid 14px;
  border-color: #25C8FF;
}
.precio {
  font-size: x-large;
}
.ver-mas {
  padding: 6px 0px 2px 0px;
  margin-bottom: 15px;
  font-size: 10px;
}
/*-----------FOOTER-----------*/
.padre1 {
  flex-direction: column;
}  
.categorias {
  display: none;
}
.mobile {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
}
/*---------------------------------------------------------------*/
/*-----------SMARTPHONE----------*/
@media (min-width: 392px) and (max-width: 624px) {
/*-----------HEADER-----------*/
.cloud-gaming {
  display: none;
}
.menu-nav ul { /*--BARRA DE NAVEGACION--*/
  display: flex;
  flex-direction: column;
  background-color: #25C8FF;
}
.menu-mobile {
  margin: 14px 0px 14px 0px;
}
  .menu-mobile a {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
  }

/*-----------MAIN-----------*/

.titulo-flex { /*--TITULO MAIN--*/
  display: flex;
  justify-content: flex-start;
  margin: 0% 0% 0% 3%;
  align-items: center;
  color: white;
  padding: 100px 0px 0px 0px;
}
  .titulo {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: white;
    margin: 0px 10px;
  }
  .menu-lat {
    display: none;
  }
  .articulos { /*--CAJAS DE PUBLICACIONES--*/
    margin: 5px;
    width: 150px;
  }
  .articulos a img {
    width: 150px;
  }
  .descripcion {
    border-bottom: solid 14px;
    border-color: #25C8FF;
  }
  .precio {
    font-size: x-large;
  }
  .ver-mas {
    padding: 6px 0px 2px 0px;
    margin-bottom: 15px;
    font-size: 10px;
  }
/*-----------FOOTER-----------*/
  .padre1 {
    flex-direction: column;
  }
  .categorias {
    display: none;
  }
  .separacion {
    margin: 10px;
  }
  .mobile {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  /*-----------FOOTER-----------*/
.articulos-contacto {
  width: 100%;
}
.formulario {
  width: 90%;
}
.textarea {
  width: 90%;
}
.terminos {
  width: 70%;
  margin: 0px 0px 0px 5px;
}
.enviar {
  margin-bottom: 15px;
  font-size: 15px;
  width: 80%;
}
/*-----------FAQ-----------*/
.articulos-faq {
  width: 90%;
}
}
/*---------------------------------------------------------------*/
/*-----------SMALL-SMARTPHONE----------*/
@media (max-width: 391px) {
/*-----------HEADER-----------*/
.cloud-gaming {
  display: none;
}
.menu-nav ul { /*--BARRA DE NAVEGACION--*/
  display: flex;
  flex-direction: column;
  background-color: #25C8FF;
}
.menu-mobile {
  margin: 14px 0px 14px 0px;
}
  .menu-mobile a {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
  }

/*-----------MAIN-----------*/

.titulo-flex { /*--TITULO MAIN--*/
display: flex;
justify-content: flex-start;
margin: 0% 0% 0% 3%;
align-items: center;
color: white;
padding: 100px 0px 0px 0px;
}
.titulo {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  color: white;
  margin: 0px 10px;
}
.menu-lat {
  display: none;
}
.articulos { /*--CAJAS DE PUBLICACIONES--*/
  margin: 5px;
  width: 100px;
}
.articulos a img {
  width: 100px;
}
.descripcion {
  border-bottom: solid 14px;
  border-color: #25C8FF;
  font-size: 14px;
}
.precio {
  font-size: larger;
}
.cuotas {
  font-size: 15px;
}
.ver-mas {
  padding: 4px 2px 4px 2px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
}
/*-----------FOOTER-----------*/
.padre1 {
  flex-direction: column;
}
.categorias {
  display: none;
}
.separacion {
  margin: 10px;
}
.mobile {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

/*-----------CONTACTO-----------*/
.articulos-contacto {
  width: 100%;
}
.formulario {
  width: 90%;
}
.textarea {
  width: 90%;
}
.terminos {
  width: 70%;
  margin: 0px 0px 0px 5px;
}
.enviar {
  margin-bottom: 15px;
  font-size: 15px;
  width: 80%;
}
/*-----------FAQ-----------*/
.articulos-faq {
  width: 90%;
}
}