// TIPOGRAFIA Y RESET
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// FIN RESET
// VARIABLES
:root {
  --color-primario: #25C8FF;
  --color-secundario: white;
  --color-oscuro: rgba(22, 22, 22, 0.8);
  --gradiente-b: linear-gradient(56deg, rgba(0,132,176,1) 0%, rgba(11,11,11,0.8953956582633054) 50%, rgba(32,32,32,1) 100%);
}
// FIN VARIABLES
// GRIDS
#grids {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 100fr 1fr;
  grid-template-areas:
  "cabeza"
  "baner"
  "publicaciones"
  "pie";
        .encabezado {
            grid-area: cabeza;
        }
        .banner {
            grid-area: baner;
        }
        .contenido {
            grid-area: publicaciones
        }
        .pie-pagina {
            grid-area: pie;
        }
}
// FIN