@media (min-width: 992px) {
// HEADER
  .header-flex {
      border-bottom: solid 5px;
      border-color: var(--color-primario);
  }
  .barra-busqueda {
    display: flex;
    & input {
      margin-left: 10%;
      }
  }
  .nav-smartphone {
      display: none;
    }
  .menu-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 36px;
      list-style: none;
      background-color: var(--color-primario);
    }
  .menu-button {
      text-decoration: none;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      color: var(--color-secundario);
      transition: 0.4s;
      margin-top: 15px;
      padding: 10px 25px 10px 25px;
      width: 200px;
      &:hover{
          margin-bottom: 5px;
          background-color: var(--color-secundario);
          color: var(--color-primario);
          border-radius: 5px;
          border-color: var(--color-primario);
          -webkit-animation: 0.4s linear both;
          animation: slide-top 0.4s linear both;
          transform: scale(1.5);
          cursor: pointer;
        }
    }
    @keyframes slide-top {
      0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }
      50% {
        -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
      }
      100% {
        -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
      }
    }
// FIN HEADER
// MENU DESPLEGABLE
  .madre {
    display: none;
    position: absolute;
    margin: 31px 0px 0px -438px;
    z-index: 100;
  }

  .madre div div p {
    margin: 20px 10px 0px 10px;
    border-bottom: solid 2px;
    border-radius: 3px;
    border-color: var(--color-primario);
    width: 150px;
  }

  .madre div {
    display: flex;
    flex-direction: row;
    width: 300px;
  }

  .madre div div {
    display: flex;
    flex-direction: column;
  }

  .padre li {
    display: inline-block;
  }
  .padre li:hover .madre {
    display: inline-block;
    z-index: 99;
  }

  .menu-link {
    color: var(--color-secundario);
    text-decoration: none;
    margin: 0px 20px 0px 20px;
    display: block;
    font-size: small;
  }
  .menu-link:hover {
    color: var(--color-primario);
  }
// FIN MENU DESPLEGABLE
// GRADIENT MENU

  .gradient {
    display: none;
    position: absolute;
    margin: 31px 0px 0px -440px;
    background-color: var(--color-oscuro);
    border-radius: 10px;
    width: 750px;
    height: 275px;
  }
  
  .gradient::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 7px; 
    border: solid transparent 3px;
    border-top: solid transparent 7px;
    background: linear-gradient(0deg, var(--color-primario), var(--color-primario), var(--color-secundario)) border-box;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
  }
  .background-image {
    display: none;
    margin: 31px 0px 0px -440px;
    background-image: url(../images/abstract-blue-line-speed-dynamic-on-black-background-illustration-vector_waifu2x_art_noise3_scale_tta_1-min.jpg);
    background-attachment: fixed;
    background-size: cover;
    border-radius: 10px;
    width: 750px;
    height: 275px;
    position: absolute;
  }
  .padre li:hover .background-image {
    display: inline-block;
  }
  @-moz-document url-prefix(){
    .padre li:hover .background-image {
      display: inline-block;
      outline: 3px solid var(--color-secundario);
      z-index: 35;
    }
  }
    
    .padre li:hover .gradient {
      display: inline-block;
    }
// FIN GRADIENT MENU
// MAIN
  .titulo-flex {
      display: flex;
      margin: 0% 0% 0% 10%;
      font-size: x-large;
      color: var(--color-secundario);
      padding: 20px 0px 0px 0px;
    }
  .articulos-titulo {
      padding: 6px 0px 0px 0px;
    }
  .titulo {
      font-weight: bold;
      font-size: xx-large;
      color: var(--color-secundario);
      margin: 0px 15px;
    }
}
// FIN MAIN
// iFRAMES ARTICULOS
#modal {
  position: fixed;
  width: 57%;
  min-width: 700px;
  right: 20%;
  left: 27%;
}
// FIN iFRAMES
// FOOTER
.padre1 {
  transform: translateX(-70px);
}
// FIN FOOTER